html,
body {
    box-sizing: border-box;
    background-color: rgb(190, 214, 224);
    line-height: 1.5em;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: rgb(4, 70, 109);
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    margin: 0;
}

.navigation-xs {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: rgb(4, 70, 109);
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    margin: 0;
    font-size: .7em;
    visibility: hidden;
}

.navigation a {
    text-decoration: none;
    color: white !important;
    padding: 10px;
}

.navigation-xs a {
    text-decoration: none;
    color: white !important;
    padding: 0;
}

.navigation-xs div {
    display: flex;
    gap: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 40px;
}

.aboutme {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.intro {
    margin: 20px 0 20px 0;
}

.contact {
    display: flex;
    gap: 20px;
    color: rgb(74, 74, 197);
}


.img-content {
    border-radius: 100px;
    height: 200px;
}

.custom-title {
    display: flex;
    justify-content: space-between;
}

.custom-title span {
    font-style: italic;
    font-size: .9em;
}


.exp-list,
.project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.project-title-container {
    display: flex;
    flex-direction: column;
}

.project-title-container span {
    font-style: italic;
    font-size: 0.8em;
}

.project-title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.project-title span {
    font-weight: lighter;
    font-style: italic;
}


@media only screen and (max-width: 960px) {
    ul {
        padding: 0 0 0 10px;
    }

    .navigation {
        visibility: hidden;
    }

    .navigation-xs {
        visibility: visible;
    }

    .content {
        width: 95%;
        font-size: .8em;
        margin-top: 60px;
    }

    .aboutme {
        flex-direction: column;
    }

    .img-content {
        height: 100px;
        border-radius: 50;
    }

    .contact {
        flex-direction: column;
        gap: 0;
    }

    .custom-title {
        flex-direction: column;
    }

}